video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
}

.App {
  background-color: rgba(195, 255, 147, 0.6);
}

.search {
  width: 30vw;
  padding: 15px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  margin-top: 10px;
}

button {
  border: none;
  margin-top: 10px;
  background-color: #FF5580;
  border-radius: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2, h3 {
  text-transform: uppercase;
}

.dish {
  width: 40vw;
  border-radius: 50px;
}

li {
  background-color: rgb(255, 255, 128);
  padding: 10px;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
}

h1, h2, h3, li {
  color: #121481;
  font-family: "Rubik", sans-serif;
}